@import "normalize";
@import "fonts";

/*----------------------------------------------------------------
  mixins
----------------------------------------------------------------*/

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/*----------------------------------------------------------------
  variables
----------------------------------------------------------------*/

$break-1: 540px;
$break-2: 760px;
$break-3: 900px;
$break-4: 1200px;


* {
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 62.5%; // this sets the base unit to 10px, makes it super easy to calculate rem's.
}

body {
    font-size: 1.6em; // so now we have 16px and didn't have to break out the calculator.
    font-family: 'helvetica neue', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

/*----------------------------------------------------------------
    Layout
----------------------------------------------------------------*/

#container {
    position: relative;
    height: 100%;
    & > *:not(footer) {
        padding: 2rem 1rem;
        @media (min-width: $break-1) {
            padding: 6rem 2rem;
        }
    }
}
.content {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

.links {
    list-style: none;
    padding: 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 1.4rem;
        @media (min-width: $break-1) {
            margin: 0 3rem;
        }
    }
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font: 0/0 a;
        &::before {
            font-size: 1.8rem;
            vertical-align: middle;
            @media (min-width: $break-1) {
                font-size: 2.4rem;
            }
            @media (min-width: $break-2) {
                font-size: 3rem;
            }
            @media (min-width: $break-3) {
                font-size: 3rem;
            }
        }
    }
}

/*----------------------------------------------------------------
    Type
----------------------------------------------------------------*/

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
    line-height: 1.2;
}

.section-title {
    margin: 0 0 2rem;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    text-transform: lowercase;
    color: rgba(13, 48, 71, 0.6);
    @media (min-width: $break-1) {
        margin: 0 0 7rem;
        font-size: 4.2rem;
    }
}



/*----------------------------------------------------------------
    Header
----------------------------------------------------------------*/

#header {
    display: flex;
    align-items: center;
    min-height: 220px;
    background: #0d3047;
    // background: #0d3047 url(/img/ui-ux.svg) no-repeat 50% 50%;
    // background-size: contain;
    color: #fff;
    text-align: center;
    @media (min-width: $break-1 ) {
        min-height: 340px;
    }
    @media (min-width: $break-2 ) {
        min-height: 480px;
    }
    @media (min-width: $break-3) {
        height: 100%;
        min-height: 680px;
    }
    @media (min-width: $break-4) {
        background-attachment: fixed;
    }
    .content {
        position: relative;
        top: -1rem;
    }
    h1, p {
        margin: 0;
        font-weight: 300;
    }
    p {
        font-size: 1.4rem;

        @media (min-width: $break-1) {
            font-size: 1.8rem;
        }
        @media (min-width: $break-2) {
            font-size: 2.1rem;
        }
    }
    h1 {
        margin: 1.6rem 0;
        font-size: 4.8rem;
        line-height: 1;
        text-transform: uppercase;
        @media (min-width: $break-1) {
            font-size: 6rem;
        }
        @media (min-width: $break-2) {
            font-size: 7.2rem;
        }
        @media (min-width: $break-3) {
            font-size: 9.6rem;
        }
    }
}

/*----------------------------------------------------------------
    Blockquote
----------------------------------------------------------------*/

blockquote {
    padding: 0 0 !important;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.3;
    @media (min-width: $break-1) {
        padding: 3rem 1rem !important;
        font-size: 1.6rem;
    }
    @media (min-width: $break-2) {
        font-size: 2.1rem;
    }
    @media (min-width: $break-4) {
        p span {
            display: block;
        }
    }
    p, cite {
        display: block;
        margin: 0;
        color: #000;
    }
    cite {
        margin-top: 8px;
        font-size: 1.2rem;
        color: #4d4d4d;
        @media (min-width: $break-1) {
            font-size: 1.8rem;
            margin-top: 12px;

        }
    }
}

/*----------------------------------------------------------------
    Work
----------------------------------------------------------------*/

#work {
    @include clearfix;
    background-color: #f4f4f4;
    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .work-list > li {
        position: relative;
        margin-bottom: 50px;
        overflow: hidden;
        padding-top: 68%;
        border: 4px solid #fff;
        box-shadow: 1px 0 1px rgba(0,0,0,0.18);
        @media (min-width: $break-1) {
            float: left;
            width: 48%;
            padding-top: 33%;
            margin: 0 1% 30px;
        }
        @media (min-width: $break-3) {
            width: 31%;
            padding-top: 22%;
        }
        @media (min-width: $break-4) {
            width: 23%;
            padding-top: 16%;
        }
        &.active .panel {
            top: 0;
            opacity: 1;
        }
    }
    figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // background: rgba(13, 48, 71, 0.95);
        background-color: #e89d3c;
        transition: all .3s ease-in-out;
        color: #fff;
        -webkit-font-smoothing: subpixel-antialiased;

        .brand {
            font-size: 21px;
            &:after {
                content: "";
                display: block;
                height: 0;
                width: 130px;
                border-top: 1px solid rgba(255,255,255,0.4);
                margin: 7px auto 10px;
            }
        }
        .info {
            // margin: 0 0 5px;
        }
        h4 {
            font-size: 12px;
            text-transform: uppercase;
        }
        p {
            margin: 0 0 10px;
            font-size: 13px;
        }
        .btn {
            display: inline-block;
            text-decoration: none;
            padding: 7px 18px;
            border-radius: 5px;
            margin: 0 0 10px;
            transition: all 0.25s ease-in-out;
            font-weight: 500;
            color: #e89d3c;
            background-color: #fff;
            font-size: 12px;
            &:hover {
                color: rgba(255,255,255,0.9);
                background: rgba(255,255,255,0.2);
            }
        }
    }
}

#placeholder {
    display: none;
}

.spinner {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 24px;
    height: 24px;
    border: solid 1px transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    border-radius: 50%;
    -webkit-animation: cs-spinner 600ms linear infinite;
    animation: cs-spinner 600ms linear infinite;
    // box-shadow: 2px 2px 2px rgba(0,0,0,.4);
}

@-webkit-keyframes cs-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes cs-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*----------------------------------------------------------------
    About me
----------------------------------------------------------------*/

#about {
    @include clearfix;
    color: #444;
    background-color: #fff;
    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        margin: 0 1rem 3rem;
        line-height: 1.3;
        font-size: 1.3rem;
        vertical-align: top;

        @media (min-width: $break-1) {
            width: 45%;
            font-size: 1.6rem;
        }
        @media (min-width: $break-2) {
            width: 30%;
            height: auto;
            margin: 0 0 6rem;
            font-size: 1.6rem;
        }
        &:nth-child(3n+2) {
            @media (min-width: $break-2) {
                margin: 0 3% 5rem;
            }
        }
        &::before {
            display: block;
            width: 72px;
            height: 72px;
            margin: 0 auto 1.8rem;
            font-size: 3rem;
            border: 1px solid rgba(200,200,200,0.7);
            border-radius: 50%;
            line-height: 72px;
            @media (min-width: $break-1) {
                width: 106px;
                height: 106px;
                margin: 0 auto 1.8rem;
                font-size: 5rem;
                border: 1px solid rgba(200,200,200,0.7);
                border-radius: 50%;
                line-height: 106px;
            }
        }
    }
}

/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/

#footer {
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    border-bottom: 1rem solid #c5cace;
    background-color: #0d3047;
    color: rgba(255,255,255,.3);
    text-align: center;
    font-size: 1.2rem;
}
